@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  /* 滚动条 */
  ::-webkit-scrollbar-thumb:horizontal { /*水平滚动条的样式*/
    width: 6px;
    background-color: #999;
    -webkit-border-radius: 6px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent; /*滚动条的背景颜色*/
    -webkit-border-radius: 0; /*滚动条的圆角宽度*/
  }
  ::-webkit-scrollbar {
    width: 6px; /*滚动条的宽度*/
    height: 6px; /*滚动条的高度*/
    // 隐藏横向滚动条
  }
  ::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    //border: 2px solid #fff;
  }
  ::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

